/* body {
  background-color: black;
} */
.container p {
  font-size: larger;
  margin-top: 100px;
  width: 50%;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin-left: 10%;
}

.home-container {
  width: 80%;
  margin: 100px 10%;
}

#calc {
  width: 50%;
  height: 300px;
  margin: 30% 0;
}

#out {
  height: 20%;
  width: 100%;
  text-align: right;
  font-size: 20px;
  box-sizing: border-box;
}

#input-sec {
  background-color: pink;
  display: flex;
  justify-content: space-between;
  height: 80%;
}

#numbers {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#numbers > * {
  border: 1px solid gainsboro;
  outline: none;
}

#numbers :nth-child(4n+0) {
  background-color: orange;
}

#numbers :last-child {
  background-color: orange;
}

#numbers :nth-child(17) {
  grid-column: span 2;
}

/* .quote-cont {
  width: 80;
} */

.quote {
  width: 80%;
  margin: 180px 10%;
  font-size: 30px;
  font-weight: 500;
}

@media (min-width: 768px) {
  #calc {
    width: 50%;
    margin-top: 100px;

    /* margin: 10% 30%; */
  }
}
