nav {
  width: 80%;
  margin-left: 10%;
}

h1 {
  display: inline;
}

.nav-links {
  float: right;
  margin-top: 3px;
}

span {
  font-size: large;
  margin-right: 20px;
}

.nav-links :nth-child(2) {
  padding: 0 10px;
  border-left: 2px solid green;
  border-right: 2px solid green;
}
